# Project
*.log
*.cache
*.db
*.rdb
*.lock
!delete.me
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.lock
static/
conf.d/
ve/
media/*
mongo_data/*
playground/*


# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
nbproject/
.vagrant
.project
.pydevproject